NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAIvrrtzorp6e6pwqYugdRc7NMlyT3u6FA
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=eleccionesdosmilveintisiete.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=eleccionesdosmilveintisiete
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=eleccionesdosmilveintisiete.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=839287364260
NEXT_PUBLIC_FIREBASE_APP_ID=1:839287364260:web:00e5f0d89e402b1baf6431
